body {
    width: 100%;
    margin: auto;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background:grey;
    width: 100%;
    top: 0px;
    position: fixed;
}

.logo {
    float: left;
    background-color:#4aaaa5
}

li{
    list-style: none;
    float: left;
}

.nav {
    float: right;
}

h1 {
    color:white
}